<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.openscm.scmclient</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/scmclient</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/openscm/scmclient.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/openscm/scmclient.err</string>
</dict>
</plist>
