{% extends "base.html" %}
{% block content %}


<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add new System Group</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
	      <li class="breadcrumb-item"><a href="/system_groups">System Groups</a></li>
              <li class="breadcrumb-item active">Add System Group</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-8">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Group</h3>
            </div>
	    <form method="post" action="/system_groups/add">
            <div class="card-body"> 
              <div class="form-group">
                <label for="inputName">Group Name</label>
                <input type="text" name="name" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea name="description" class="form-control" rows="4"></textarea>
              </div>
	      <div class="form-group">
                  <label>Select Systems</label>
                  <select name="systems" class="duallistbox" multiple="multiple">
	          {% for system in systems %}
                    <option value="{{ system.id }}">{{ system.name }}</option>
		  {% endfor %} 
                  </select>
                </div>
		<div class="text-right">
                  <div class="form-group mt-3">
                    <button type="submit" class="btn btn-success">Save Group</button>
                    <a href="/system_groups" class="btn btn-secondary">Cancel</a>
                  </div>
		</div>
	    </form>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
