{% extends "base.html" %}
{% block content %}


<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add new Test</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
	      <li class="breadcrumb-item"><a href="/tests">Tests</a></li>
              <li class="breadcrumb-item active">Test Add</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-10">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Test</h3>
            </div>
	    <form method="post">
            <div class="card-body"> 
              <div class="form-group">
                <label for="inputName">Test Name</label>
                <input type="text" name="name" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea name="description" class="form-control" rows="4"></textarea>
              </div>
	      <div class="form-group">
                <label for="inputRational">Severity</label>
                <select name="severity" class="form-control" style="width: auto; display: inline-block; margin: 0 0.5rem;">
                    <option value="0">Information</option>
                    <option value="1">Low</option>
		    <option value="2">Medium</option>
		    <option value="3">High</option>
		    <option value="4">Critical</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="inputRational">Rational</label>
                <textarea name="rational" class="form-control" rows="4"></textarea>
              </div>
	      <div class="form-group">
                <label for="inputRational">Remediation</label>
                <textarea name="remediation" class="form-control" rows="4"></textarea>
              </div>
	      <div class="form-group">
  		<h5 style="display: flex; align-items: center; gap: 0.5rem;">
    		  This test match
    		  <select name="filter" class="form-control" style="width: auto; display: inline-block; margin: 0 0.5rem;">
      		    <option>all</option>
      		    <option>any</option>
    		  </select>
    		  of the following conditions:
  		</h5>
	      </div>
              <h4>Conditions</h4>
              <div id="conditionsContainer">
	      {% for i in [1,2,3,4,5] %}
	      <div class="condition-row mb-2 row" data-id="cond_{{ i }}" {% if i !=1 %}style="display: none;"{% endif %}>
    		<div class="col-sm-2">
        	  <select class="form-control" name="element_{{ i }}">
		    <option value="" selected></option>
            	    {% for element in elements %}
                	<option {% if element.name == "None" %}selected{% endif %}>{{ element.name }}</option>
            	    {% endfor %}
        	  </select>
    		</div>
    		<div class="col-sm-3">
        		<input type="text" class="form-control" name="input_{{ i }}">
    		</div>
    		<div class="col-sm-2">
        	  <select name="selement_{{ i }}" class="form-control">
		    <option value="" selected></option>
            	    {% for selement in selements %}
                          <option {% if selement.name == "" %}selected{% endif %} >{{ selement.name }}</option>
                    {% endfor %}
       	 	  </select>
    		</div>
    		<div class="col-sm-2">
        	  <select class="form-control" name="condition_{{ i }}">
	   	    <option value="" selected></option>
            	    {% for condition in conditions %}
                          <option {% if condition.name == "" %}selected{% endif %} >{{ condition.name }}</option>
                      {% endfor %}
        	  </select>
    		</div>
    		<div class="col-sm-2">
        		<input type="text" class="form-control" name="sinput_{{ i }}">
    		</div>
		{% if i !=1 %}
    		<div class="col-sm-1 float-sm-right">
        		<button type="button" class="btn btn-danger btn-sm" onclick="removeCondition(this)">
            			<i class="bi bi-trash"></i> Delete
        		</button>
    		</div>
		{% endif %}
	    </div>
	    {% endfor %}
				
	      <button type="button" class="btn btn-primary btn-sm" onclick="addCondition()">
                <i class="bi bi-plus-square-dotted"></i> 
		Add Condition
              </button>
	      <div class="text-right">
                <div class="form-group mt-3">
                  <button type="submit" class="btn btn-success">Save Test</button>
                  <a href="/tests" class="btn btn-secondary">Cancel</a>
                </div>
	      </div>
	    </form>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
 const maxConditions = 5;
    let usedIndexes = new Set([1]); // First visible row is in use

    function getNextAvailableIndex() {
        for (let i = 1; i < maxConditions+1; i++) {
            if (!usedIndexes.has(i)) {
                return i;
            }
        }
        return -1;
    }

    function addCondition() {
      if (usedIndexes.size >= maxConditions) {
          alert("Maximum number of conditions reached.");
          return;
      }

      const conditionId = getNextAvailableIndex();
      if (conditionId === -1) return;

      usedIndexes.add(conditionId);
      const row = document.querySelector(`.condition-row[data-id="cond_${conditionId}"]`);
      if (row) {
        row.style.display = 'flex'; // Or 'block', depending on layout
      }
    }


    function removeCondition(button) {
  	const row = button.closest('.condition-row');
  	if (row) {
    	  const dataId = row.getAttribute('data-id');
    	  const conditionId = parseInt(dataId.replace('cond_', ''));

    	  row.querySelectorAll('input, select').forEach(el => {
      	  if (el.tagName === 'SELECT') {
       	    el.selectedIndex = 0;
          } else {
            el.value = '';
          }
        });

        row.style.display = 'none';
        usedIndexes.delete(conditionId);
    }
}

</script>

{% endblock %}
