{% extends "base.html" %}
{% block content %}


<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add new User</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
	      <li class="breadcrumb-item"><a href="/users">Users</a></li>
              <li class="breadcrumb-item active">Add User</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-8">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">User</h3>
            </div>
	    <form method="post" action="/users/add">
            <div class="card-body"> 
	      <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="name" class="form-control" required>
              </div>
	      <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" name="username" class="form-control" required>
              </div>
	      <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" required>
              </div>
	      <div class="form-group">
                <label for="role">Role</label>
                <select name="role" class="form-control" style="width: auto; display: inline-block; margin: 0 0.5rem;">
                    <option value="admin">Administrator</option>
                    <option value="editor">Editor</option>
		    <option value="runner">Runner</option>
		    <option value="viewer">Viewer</option>
                  </select>
              </div>
	      <div class="text-right">
                <div class="form-group mt-3">
                  <button type="submit" class="btn btn-success">Save User</button>
                  <a href="/users" class="btn btn-secondary">Cancel</a>
                </div>
	      </div>
	    </form>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
