[Unit]
Description=OpenSCM Client Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/openscm/scmclient
WorkingDirectory=/opt/openscm
Restart=on-failure
User=root

# Logs
StandardOutput=append:/var/log/openscm/scmclient_output.log
StandardError=append:/var/log/openscm/scmclient_error.log

[Install]
WantedBy=multi-user.target
