#!/bin/sh
#
# PROVIDE: scmclient
# REQUIRE: NETWORKING
# KEYWORD: shutdown

. /etc/rc.subr

name="scmclient"
rcvar="scmclient_enable"
command="/usr/local/bin/scmclient"
pidfile="/var/run/${name}.pid"

load_rc_config $name
: ${scmclient_enable:=NO}

run_rc_command "$1"

