<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Name="OpenSCM Client" Id="*" UpgradeCode="53413526-7815-4D6F-A7C6-6D012B2638F1"
             Manufacturer="OpenSCM" Version="1.0.1" Language="1033">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MediaTemplate EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="OpenSCM">
                    <Component Id="ServiceFiles" Guid="*">
                        <File Id="SCMEXE" Source="build/target/x86_64-pc-windows-gnu/release/scmclient.exe" KeyPath="no" />
                        <File Id="WRAPPER" Source="scm-service.exe" KeyPath="yes" />
                        <File Id="WRAPPERXML" Source="scm-service.xml" />

                        <ServiceInstall Id="ServiceInstallation" 
                                        Type="ownProcess" 
                                        Name="OpenSCMClient" 
                                        DisplayName="OpenSCM Client Service" 
                                        Description="Handles OpenSCM background tasks." 
                                        Start="auto" 
                                        Account="LocalSystem" 
                                        ErrorControl="normal" />
                        
                        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="OpenSCMClient" Wait="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="MainFeature" Title="OpenSCM Client" Level="1">
            <ComponentRef Id="ServiceFiles" />
        </Feature>
    </Product>
</Wix>
